.recommended {
  &__products {
    @include pageGrid;
    row-gap: 40px;
  }

  &__product {
    @include hover(transform, scale(1.05));

    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
